@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #4a8584;
    --main-color: #0a4498;
    --main2-color: #cc0066;
    --grey1-color: #49505a;
    --grey2-color: #e3e5e8;

    --bg-hover: #6d809c;
    --main-hover: #0d5bc9;
    --main2-hover: #ff0080;
    --grey1-hover: #606976;
    --grey2-hover: #c7cbd1;
}

:hover {
    transition: 225ms;
}

body {
    height: 100vh;
    background-color: var(--bg-color);
}

span {
    font-size: 2.5rem;
}

.block {
    position: absolute;
    top: 0;
    height: 80vh;
    width: 100%;
    z-index: 9999;
}

.d-none {
    display: none;
    
}

.header {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Rock Salt', cursive;
    margin-top: 2rem;
    color: #000205;
}

.start {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
    padding: 0.5rem;
    background-color: var(--main-color);
    color: white;
    font-size: 2rem;
    border-radius: 0.4rem;
    box-shadow: 3px 4px 7px 2px black;
}

.start:hover {
    cursor: pointer;
    background-color: var(--main-hover);
}

.row {
    display: flex;
}

.play-holder {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.play-area {
    background-color: var(--grey2-color);
    box-shadow: 3px 4px 7px 2px black;
}

.play-field {
    padding: 1rem;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    box-shadow: inset -1px -1px 10px 7px hsl(0deg 0% 30% / 38%);
    transition: 1s;
}

.play-field img {
    width: 64px;
}

.play-field:hover {
    transition: 225ms;
    background-color: var(--grey2-hover);
    cursor: pointer;
}

/******* Win Animation ********/

/******* 1st line ********/
.t-up {
    transform: translateY(-18px) scale(1.2);
}

.t-up-left {
    transform: translate(-18px, -18px) scale(1.2);
}

.t-up-right {
    transform: translate(18px, -18px) scale(1.2);
}

/******* 2nd line ********/
.t-middle {
    transform: scale(1.2);
}

.t-left {
    transform: translate(-18px, 0px) scale(1.2);
}

.t-right {
    transform: translate(18px, 0px) scale(1.2);
}

/******* 3rd line ********/
.t-down {
    transform: translate(0px, 18px) scale(1.2);
}

.t-down-right {
    transform: translate(18px, 18px) scale(1.2);
}

.t-down-left {
    transform: translate(-18px, 18px) scale(1.2);
}